.header h2 {
    margin-left: 14px;
}
.sub-header .row {
    margin-left: 0;
}
.sub-header h3 {
    text-align: left;
}
.loading-content {
    display: none;
}
.ajax-loader img {
    display: block;
    margin: 50px auto 0 auto;
}